/* mobile first design */

/* 
 * Using BEM methodology 
 * http://getbem.com/introduction/ 
 */

/* Sets the border size to be included in element dimensions for all elements*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  height: 100vh;
  --max-width: 80ch;

  /* h1, h2, h3, p top margins */
  --text-top-margin: 1em;
  --padding-primary: 2.5rem;

  --fs-primary: calc(1.125rem + (2 - 1) * (100vw - 400px) / (800 - 400));
  --fs-header: 1.125rem;
  --fw-accent: 500;

  /* Prevent font scaling in landscape while allowing user zoom */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  --clr-primary-400: hsl(210, 45%, 44%);
  --clr-light-100: white;
  --clr-light-200: hsl(36, 100%, 96%);
  --clr-dark-900: black;

  /* keeps colour outside of view port consistent (mobile) */
  background-color: var(--clr-primary-400);
}

body {
  font-family: "quicksand";
  font-size: var(--fs-primary);
  line-height: 1.5;
  letter-spacing: 0.25px;
}

.logo-title,
.menu__label,
.nav--nav-bar a {
  letter-spacing: 1px;
  font-size: var(--fs-header);
}

.content-grid {
  height: 100vh;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(var(--padding-primary), var(--max-width))
    minmax(0, 1fr);
  justify-content: center;
  position: relative;
  overflow: true;
}

h1,
h2,
h3 {
  line-height: 1.25;
  font-weight: var(--fw-accent);
  color: var(--clr-primary-400);
}

p {
  color: var(--clr-dark-900);
}

header {
  display: grid;
  grid-gap: 2rem;
}

.header {
  font-family: "quicksand";
  padding: var(--padding-primary);
  grid-column: 2 / 3;
  background-color: var(--clr-primary-400);
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 200px;
  background-color: var(--clr-primary-400);
}

.logo-title {
  font-weight: 500;
  color: var(--clr-light-100);
  text-align: center;
}

/* wait for future support */
/*.menu,
.menu__label {
  content-visibility: auto;
}*/

.menu {
  display: none;
}

.menu__label {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--clr-light-100);
}

.menu__label:hover {
  font-weight: var(--fw-accent);
}

/* nav bar divider */
.menu__label::after {
  content: "";
  height: 2px;
  background-color: var(--clr-light-100);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1em;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.menu__label.active::after {
  transform: scale(1, 1);
}

.nav--nav-bar {
  /*border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;*/
  width: 100%;
  /* animation for nav bar on open */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.nav--nav-bar a {
  display: block;
  color: var(--clr-light-100);
  margin: 0.75rem;
  position: relative;
  opacity: 0;
  /* opacity ease out for nav bar links */
  transition: opacity 250ms ease-in-out;
}

/* overide with custom focus */
.nav--nav-bar a:focus {
  outline-style: none;
}

.nav--nav-bar a:hover,
.nav--nav-bar a.active {
  font-weight: var(--fw-accent);
}

.nav--nav-bar a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--clr-light-100);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.nav--nav-bar a:hover::after,
.nav--nav-bar a:focus::after,
.nav--nav-bar a.active::after {
  transform: scale(1, 1);
}

.menu:checked ~ .nav--nav-bar {
  transform: scale(1, 1);
  /*margin-bottom: 1em;*/
}

.menu:checked ~ .nav--nav-bar a {
  /* opacity ease in for nav bar links */
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.main {
  padding: var(--padding-primary);
  grid-column: 2 / 3;
  background-color: var(--clr-light-200);
}

.page-body > * + * {
  margin-top: var(--text-top-margin);
}

.article-list-item {
  transition: transform 250ms ease-in-out;
}

.article-list-item:hover {
  transform: scale(1.025, 1.025);
  transition: transform 250ms ease-in-out;
}

.article-list-item a {
  text-decoration: none;
}

.article-list-item a > * + * {
  margin-top: calc(var(--text-top-margin) / 2);
}

.article-list-item p {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--clr-primary-400);
}

.footer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding-primary) * 2);
  background-color: var(--clr-primary-400);
  color: var(--clr-light-100);
}

.nav--footer {
  width: calc(var(--padding-primary) * 3);
}

.nav--footer li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* makes sure anchor matches width and height of svg */
.nav--footer a {
  display: inline-flex;
  outline-style: none;
}

.nav--footer a:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 4px var(--clr-primary-400), 0 0 0 6px white;
}

.nav--footer .nav--footer__circle:focus {
  border-radius: 100%;
}

.nav--footer svg {
  fill: white;
}

.nav--footer svg:hover,
.nav--footer a:focus svg {
  fill: hsl(0, 0%, 85%);
}

.fade-enter {
  opacity: 0;
  transform: translateX(-25%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(25%);
  transition: all 250ms ease-in;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  border-radius: 5%;
}

.card__h2 {
  padding: 0.5em 0.5em;
}

.card__img {
  width: 200px;
  height: 200px;
}

.about,
.about__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about > * + *,
.about__heading > * + *,
.about__content > * + * {
  margin-top: 1rem;
}
.about__display-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.about__h1 {
  max-width: 10ch;
  text-align: center;
}

/* galaxy fold phone */
@media screen and (max-width: 20rem) {
  header .nav--nav-bar ul {
    flex-direction: column;
  }

  .nav--nav-bar li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav--nav-bar a {
    width: 50%;
  }
}

/* desktop view */
@media screen and (min-width: 45rem) {
  /*:root {
  /*  padding: 5rem;
  /*}*/

  .menu__label {
    display: none;
  }

  header {
    all: unset;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .header {
    padding: calc(var(--padding-primary) * 2);
  }

  .header::before,
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .header::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header::after {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .nav--nav-bar {
    all: unset;
    width: 30ch;
    font-size: 1.125rem;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
  }

  .nav--nav-bar ul {
    width: 100%;
  }

  .nav--nav-bar li {
    width: 100%;
  }

  .nav--nav-bar a {
    opacity: 1;
    margin: 0.25rem;
  }

  .menu:checked ~ .nav--nav-bar {
    margin-bottom: 0;
  }

  .main {
    max-width: calc(var(--max-width) + var(--padding-primary) * 4);
    padding: calc(var(--padding-primary) * 2);
    grid-column: 2 / 3;
  }

  .main::before,
  .main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .main::before {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main::after {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .card__img {
    width: 400px;
    height: 400px;
  }

  .about > * + * {
    margin-top: 2rem;
  }

  .about__heading {
    flex-direction: row;
  }

  .about__display-picture {
    width: 400px;
    height: 400px;
  }
  .footer {
    padding: calc(var(--padding-primary) * 2);
  }

  .footer::before,
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .footer::before {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .footer::after {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}
