/* mobile first design */

/* 
 * Using BEM methodology 
 * http://getbem.com/introduction/ 
 */

/* Sets the border size to be included in element dimensions for all elements*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100vh;
  /*max-width: 85rem;
  /*margin: auto;
  /*padding: 2rem;*/
  --max-width: 75rem;
  --header-margin-top-bottom: 2rem;
  --padding-top-bottom: 2.5rem;
  --padding-left-right: 2.5rem;
  --fw-hover: 500;

  --clr-primary: hsl(210, 45%, 44%);
  /* --clr-primary: forestgreen; */
  --clr-neutral: hsl(36, 100%, 96%);

  --clr-font-primary: white;
  --clr-font-accent: var(--clr-primary);

  /* keeps colour outside of view port consistent (mobile) */
  /*background-color: var(--clr-primary);*/
}

body,
p,
footer {
  font-family: "quicksand";
  font-weight: 400;
  line-height: 1.7em;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.75px;
  color: var(--clr-font-accent);
}

p {
  font-weight: 500;
}

.content-grid {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(var(--padding-left-right), var(--max-width))
    minmax(0, 1fr);
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: true;
}

h1,
h2,
h3 {
  font-family: "quicksand";
  font-weight: 500;
  text-decoration: none;
  line-height: 1.6em;
  color: var(--clr-font-accent);
}

h1 {
  margin: var(--header-margin-top-bottom) auto;
}

h2,
h3 {
  margin: calc(var(--header-margin-top-bottom) / 2) auto;
}

h3 {
  font-size: 1.6rem;
}

header {
  display: grid;
  grid-gap: 2rem;
}

.header {
  font-family: "quicksand";
  padding: var(--padding-top-bottom) var(--padding-left-right);
  grid-column: 2 / 3;
  background-color: var(--clr-primary);
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 200px;
  background-color: var(--clr-primary);
}

.personal-title {
  font-weight: 500;
  color: var(--clr-font-primary);
  text-align: center;
}

/* wait for future support */
/*.menu,
.menu__label {
  content-visibility: auto;
}*/

.menu {
  display: none;
}

.menu__label {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--clr-font-primary);
}

.menu__label:hover {
  font-weight: var(--fw-hover);
}

/* nav bar divider */
.menu__label::after {
  content: "";
  height: 2px;
  background-color: var(--clr-font-primary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1em;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.menu__label.active::after {
  transform: scale(1, 1);
}

.nav--nav-bar {
  /*border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;*/
  width: 100%;
  font-size: 1.125rem;
  /* animation for nav bar on open */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.nav--nav-bar a {
  text-decoration: none;
  display: block;
  color: var(--clr-font-primary);
  margin: 0.75rem;
  position: relative;
  opacity: 0;
  /* opacity ease out for nav bar links */
  transition: opacity 250ms ease-in-out;
}

/* overide with custom focus */
.nav--nav-bar a:focus {
  outline-style: none;
}

.nav--nav-bar a:hover,
.nav--nav-bar a.active {
  font-weight: var(--fw-hover);
}

.nav--nav-bar a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--clr-font-primary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.nav--nav-bar a:hover::after,
.nav--nav-bar a:focus::after,
.nav--nav-bar a.active::after {
  transform: scale(1, 1);
}

.menu:checked ~ .nav--nav-bar {
  transform: scale(1, 1);
  /*margin-bottom: 1em;*/
}

.menu:checked ~ .nav--nav-bar a {
  /* opacity ease in for nav bar links */
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.main {
  padding: var(--padding-top-bottom) var(--padding-left-right);
  padding-top: 0;
  grid-column: 2 / 3;
  background-color: var(--clr-neutral);
}

/* absolute and relative to root so the next page does not come from bottom and conflict layout */

.article-list-item {
  transition: transform 250ms ease-in-out;
}

.article-list-item:hover {
  transform: scale(1.025, 1.025);
  transition: transform 250ms ease-in-out;
}

.article-list-item a {
  text-decoration: none;
}

.article-list-item p {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--clr-font-accent);
}

.footer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding-top-bottom) * 2) var(--padding-left-right);
  background-color: var(--clr-primary);
  color: var(--clr-font-primary);
}

.nav--footer {
  width: calc(var(--padding-left-right) * 3);
}

.nav--footer li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* makes sure anchor matches width and height of svg */
.nav--footer a {
  display: inline-flex;
  outline-style: none;
}

.nav--footer a:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 4px var(--clr-primary), 0 0 0 6px white;
}

.nav--footer .nav--footer__circle:focus {
  border-radius: 100%;
}

.nav--footer svg {
  fill: white;
}

.nav--footer svg:hover,
.nav--footer a:focus svg {
  fill: hsl(0, 0%, 85%);
}

.fade-enter {
  opacity: 0;
  transform: translateX(-25%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(25%);
  transition: all 250ms ease-in;
}

/* galaxy fold phone */
@media screen and (max-width: 20rem) {
  header .nav--nav-bar ul {
    flex-direction: column;
  }

  .nav--nav-bar li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav--nav-bar a {
    width: 50%;
  }
}

/* desktop view */
@media screen and (min-width: 45rem) {
  /*:root {
  /*  padding: 5rem;
  /*}*/

  .menu__label {
    display: none;
  }

  header {
    all: unset;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .header {
    padding: calc(var(--padding-top-bottom) * 2)
      calc(var(--padding-left-right) * 2);
  }

  .header::before,
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .header::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header::after {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .nav--nav-bar {
    all: unset;
    width: 30ch;
    font-size: 1.125rem;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
  }

  .nav--nav-bar ul {
    width: 100%;
  }

  .nav--nav-bar li {
    width: 100%;
  }

  .nav--nav-bar a {
    opacity: 1;
    margin: 0.25rem;
  }

  .menu:checked ~ .nav--nav-bar {
    margin-bottom: 0;
  }

  .main {
    max-width: calc(var(--max-width) + var(--padding-left-right) * 4);
    padding: calc(var(--padding-left-right) * 2);
    padding-top: var(--header-margin-top-bottom);
    grid-column: 2 / 3;
  }

  .main::before,
  .main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .main::before {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main::after {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .footer {
    padding: calc(var(--padding-left-right) * 2);
  }

  .footer::before,
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: inherit;
  }

  .footer::before {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .footer::after {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}
